.divIntroducion{
    width: 450px;
}
.divIntroducion .divIndexTitulo1{
    text-align: center;
}
#visFestivais {
    position: relative;
}
.divIntroducion .divFestival{
    width: 210px;
    height: 300px;
    margin-left: 10px;
    float: left;

}
.divIntroducion .divFestival img{
    width: 70%;
}

.divIndexCalendar{
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
    background: lightgray;
}
.divIndexCalendar .divIndexTitulo2{
    text-align: center;
}
.divIndexCalendar .divIndexUltimaNoticias {
    border: 2px #000 solid ;
    width: 346px;
}
.divIndexCalendar #datepicker {
    margin-top: 10px;
}
.divIndexCalendar .divIndexRegistrar {
    margin-top: 10px;
}
.divHeaderLogin{
    text-align: center;
}
form .divContenidoLogin{
    width: 60%;
    text-align: left;
}
form .divContenidoLogin .divLogin{
text-align: right;
}
form .divContenidoLogin .divContrasena{
text-align: right;
}
form .divContenidoLogin .divConfirma{
text-align: right;
}
.divAviso{
    text-align: left;
}