body{
    margin: 0px auto;
    width: 800px;
}
.divContenedorLogin{
    width: 400px;;
    height: 250px;;
    border: #000 solid 1px;
    background: aliceblue;
    margin: 20em auto;
}
.divHeaderLogin{
    text-align: center;
}
.divContenidoLogin{
    width: 40%;
    margin:auto ;
}
.divLogin{
    float: right;
}
.divContrasena{
    float: right;
}
.divConfirma{
    float: right;
}

.divIndexRegistrar {

}
