<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Area Restrita</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../../css/admin/login.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="divContenedorLogin">
            <div class="divHeaderLogin"><h1>Area Restrita</h1></div>
            <form method="post" action="../../admin/index.php">
                <div class="divContenidoLogin">
                    {CONTENIDO}
                </div>
            </form>
        </div>
    </body>
</html>
