<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Earth Festival</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="../css/base.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <!--header-->
        <div class="divHeader">
            <img alt="earth" src="../imagenes/earth.jpg">
        </div>
        <!--fin header-->
        <div class="divPie">
            <
        </div>
    </body>
</html>
