<html>
    <head>
        <title>Planeta Festival</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="../css/base.css" type="text/css" rel="stylesheet"/>
        <link href="../css/index.css" type="text/css" rel="stylesheet"/>
        <link href="../js/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="../js/jquery.js" ></script>
        <script type="text/javascript" src="../js/jquery-ui-1.10.4.custom.min.js" ></script>
        <script type="text/javascript" src="../js/index.js" ></script>
        <script type="text/javascript" src="../js/eventos.js" ></script>
        
    </head>
    <body>
        <!--header-->
        <div class="divHeader">
            <img alt="earth" src="../imagenes/earth.jpg"/>
        </div> 
        <!--fin header-->
        <!--menu-->
        <div class="divMenu">
            <nav class="navMenu">
                <menu id="idMenuHome">Home</menu>
                <menu id="idMenuAgenda">Agenda</menu>
                <menu id="idMenuBuscar">Buscar</menu>
                <menu id="idMenuGaleria">Galeria</menu>
            </nav>
        </div>
        <!--fin menu-->
        <div class="divContenedor">
            {CONTENIDO}
        </div>
        <!--comiezo pie-->
        <div class="divPie">
            <div class="divCopy"> Copyrigt &copy; 2014 Sisardo Fernando <!--<img alt="pie" src="../imagenes/pies.jpg"/>--></div>
        </div> 
        <!--fin pie-->
    </body>
</html>
