<html>
    <head>
        <title>Earth Festival</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="../css/base.css" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="../js/index.js" ></script>
    </head>
    <body>
        <div class="divContenedor">
            <!--header-->
            <div class="divHeader">
                <img alt="earth" src="../imagenes/earth.jpg"/>
            </div> 
            <!--fin header-->

            <!--menu-->
            <div class="divMenu">
                <nav class="navMenu">
                    <menu id="idHome">Home</menu>
                    <menu id="idAgenda">Agenda</menu>
                    <menu>Buscar</menu>
                    <menu>Galeria</menu>
                    <menu>About Me</menu>
                </nav>
            </div>
            <!--fin menu-->
            {CONTENIDO}
            <!--comiezo pie-->
            <div class="divPie">
                <img alt="pie" src="../imagenes/pies.jpg"/>
            </div> 
            <!--fin pie-->
        </div>
    </body>
</html>
